<!DOCTYPE html>
<html>
	
<head>
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="../css/foundation.css" type="text/css" />
  <link rel="stylesheet" href="../css/app.css" type="text/css" />
  <title>KnockOut | Lobby</title>
  <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
  <script type="text/javascript">
		var global = {}; // For node.js require
  </script>
  <script src="../jquery-1.9.1.js"></script>
  <script src="../jquery-ui-1.10.3.custom.min.js"></script>
  <link rel="stylesheet" href="../css/dot-luv/jquery-ui-1.10.3.custom.min.css"/>
</head>

<body>
  <div class="wrap">
    <header>
      <h1>KNOCKOUT</h1>
      <ul class="small-block-grid-2 large-block-grid-6">
        <li><a href="#" class="radius button">Quick Join</a></li>
        <li><a href="#" class="radius button">New Room</a></li>
      </ul>
      
    </header>
    <div class="lobby">
      <ul class="small-block-grid-3 large-block-grid-6">
        <li>
          <a class="success button grid" href="#">
              <h2>3/4</h2>
              <h3>Waiting</h3>
          </a>
        </li>
        <li>
            <a class="alert button disabled grid">
              <h2>4/4</h2>
              <h3>Playing</h3>
            </a>
        </li>
        <li>
          <a class="success button grid" href="#">
              <h2>1/4</h2>
              <h3>Waiting</h3>
          </a>
        </li>
        <li>
          <a class="success button grid" href="#">
              <h2>2/4</h2>
              <h3>Waiting</h3>
          </a>
        </li>
        <li>
          <a class="alert button disabled grid">
            <h2>3/4</h2>
            <h3>Playing</h3>
          </a>
        </li>
        <li>
          <a class="alert button disabled grid">
            <h2>2/4</h2>
            <h3>Playing</h3>
          </a>
        </li>
        
        <li>
          <a class="success button grid" href="#">
            <h2>1/4</h2>
            <h3>Waiting</h3>
          </a>
        </li>
        <li>
          <a class="success button grid" href="#">
            <h2>1/4</h2>
            <h3>Waiting</h3>
          </a>
        </li>
        <li>
          <a class="success button grid" href="#">
            <h2>1/4</h2>
            <h3>Waiting</h3>
          </a>
        </li>


      </ul>
    </div>
    <h2>Global Chat</h2>
    <div class="chat-container">
      <div class="chatbox" id="chatbox">
	  <p>Welcome</p>
      </div>

      <div class="row collapse">
        <div class="small-10 large-11 columns">
          <input type="text" id="inputChat" placeholder="Type Your Message Here">
        </div>
        <div class="small-2 large-1 columns">
          <a href="#" class="button postfix radius">Enter</a>
        </div>
      </div>
    </div>

  </div>	
</body>
<script type="text/javascript" src="../GameConstants.js"></script>
<script type="text/javascript" src="../AbstractPlayer.js"></script>
<script type="text/javascript" src="../AbstractGameSession.js"></script>
<script type="text/javascript" src="../Sphere.js"></script>
<script type="text/javascript" src="../Client.js"></script>
</html>