<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../static/css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="../static/css/foundation.css" type="text/css" />
  <link rel="stylesheet" href="../static/css/app.css" type="text/css" />
  <title>KnockOut | Lobby</title>
</head>

<body>
  <div class="wrap">
    <header>
      <h1>KNOCKOUT</h1>
      <ul class="small-block-grid-2 large-block-grid-6">
        <li><a href="#" class="radius button">Quick Join</a></li>
        <li><a href="#" class="radius button">New Room</a></li>
      </ul>
      
    </header>
    <div class="lobby">
      <ul class="small-block-grid-3 large-block-grid-6">
        <li>
          <a class="success button grid" href="#">
              <h2>3/4</h2>
              <h3>Waiting</h3>
          </a>
        </li>
        <li>
            <a class="alert button disabled grid">
              <h2>4/4</h2>
              <h3>Playing</h3>
            </a>
        </li>
        <li>
          <a class="success button grid" href="#">
              <h2>1/4</h2>
              <h3>Waiting</h3>
          </a>
        </li>
        <li>
          <a class="success button grid" href="#">
              <h2>2/4</h2>
              <h3>Waiting</h3>
          </a>
        </li>
        <li>
          <a class="alert button disabled grid">
            <h2>3/4</h2>
            <h3>Playing</h3>
          </a>
        </li>
        <li>
          <a class="alert button disabled grid">
            <h2>2/4</h2>
            <h3>Playing</h3>
          </a>
        </li>
        
        <li>
          <a class="success button grid" href="#">
            <h2>1/4</h2>
            <h3>Waiting</h3>
          </a>
        </li>
        <li>
          <a class="success button grid" href="#">
            <h2>1/4</h2>
            <h3>Waiting</h3>
          </a>
        </li>
        <li>
          <a class="success button grid" href="#">
            <h2>1/4</h2>
            <h3>Waiting</h3>
          </a>
        </li>


      </ul>
    </div>
    <h2>Global Chat</h2>
    <div class="chat-container">
      <div class="chatbox">
        <p>Lorem: ipsum dolor sit amet, consectetur adipiscing elit. Duis in nibh commodo, imperdiet magna ut, tempus sapien.</p>
        <p>Donec: sapien felis, volutpat sit amet libero ut, convallis molestie nisl. Donec eget diam sed turpis condimentum blandit. Pellentesque sed aliquet neque.</p>
        <p>Donec: venenatis diam nec mauris tempus, ut semper felis posuere. Morbi sit amet tellus nulla. Nam fringilla dui eget orci rutrum, consequat sollicitudin ante venenatis.</p>
        <p>Suspendisse: lobortis erat quis neque gravida, ut vulputate massa tristique. Integer mattis tellus massa, a malesuada nisi congue vitae. In lacinia fringilla augue id volutpat.</p>
        <p>Vivamus: facilisis dictum justo a tempus. Nullam scelerisque et turpis ut varius. Donec sapien libero, vehicula quis malesuada eu, pellentesque ac lorem. Nam eu dignissim velit. Mauris vestibulum sapien id odio tempor venenatis.</p>
      </div>

      <div class="row collapse">
        <div class="small-10 large-11 columns">
          <input type="text" placeholder="Hello World">
        </div>
        <div class="small-2 large-1 columns">
          <a href="#" class="button postfix radius">Enter</a>
        </div>
      </div>
    </div>

  </div>
</body>
</html>