<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="../css/foundation.css" type="text/css" />
  <link rel="stylesheet" href="../css/app.css" type="text/css" />
  <title>KnockOut | Room</title>
</head>

<body>
  <div class="wrap">
    <header>
      <h1>KNOCKOUT</h1>
        <ul class="small-block-grid-4 large-block-grid-5">
          <li><a href="#" id="btn_ready" class="radius button">Ready</a></li>
          <li><a href="#" id="btn_start" class="radius button" title="">Start</a></li>
		  <li><a href="#" id="btn_leave" class="radius button">Leave</a></li>
          <li><a href="#" id="btn_mode" class="radius button">Classic</a></li>
        </ul>
      
    </header>
    <div class="room">
      <ul id="playerDisplay" class="small-block-grid-2 large-block-grid-2">
        <li>
          <a class="success button disabled grid" href="#">
              <h2>Ming Kit</h2>
              <h3>Ready</h3>
          </a>
        </li>
        <li>
            <a class="alert button disabled grid">
              <h2>Juntang</h2>
              <h3>Not Ready</h3>
            </a>
        </li>
        <li>
          <a class="success button disabled grid" href="#">
              <h2>Samantha</h2>
              <h3>Ready</h3>
          </a>
        </li>
        <li>
          <a class="disabled button grid" href="#">
              <h2>Empty</h2>
              <h3>Slot</h3>
          </a>
        </li>
      </ul>
    </div>
    <h2>Room Chat</h2>
    <div class="chat-container">
      <div id="chatbox" class="chatbox">
        <p>Samantha: Ready up!!</p>
        <p>Juntang: How?</p>
        <p>Ming Kit: Click the button above my slot!</p>
        <p>Juntang: lol ok.</p>
      </div>

      <div class="row collapse">
        <div class="small-10 large-11 columns">
          <input type="text" id="inputChat" placeholder="Type Your Message Here">
        </div>
        <div class="small-2 large-1 columns">
          <a href="#" id="btn_sendChat" class="button prefix">Enter</a>
        </div>
      </div>
    </div>

  </div>
</body>
</html>